<header>
    <h1>Update profile</h1>
</header>

<div class="form">
    <form [formGroup]="updateForm" class="form-group" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill">
            <mat-label for="firstName">First Name</mat-label>
            <input matInput
                   type="text"
                   formControlName="firstName"
                   #firstName>
            <mat-error *ngIf="updateForm.controls['firstName'].errors?.['required']">First name is required</mat-error>
        </mat-form-field>

        
        <mat-form-field appearance="fill">
            <mat-label for="lastName">Last Name</mat-label>
            <input matInput
                   type="text"
                   formControlName="lastName"
                   #lastName>
            <mat-error *ngIf="updateForm.controls['lastName'].errors?.['required']">Last name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label for="userName">Username</mat-label>
            <input matInput
                   type="text"
                   formControlName="userName"
                   #userName>
            <mat-error *ngIf="updateForm.controls['userName'].errors?.['required']">Username is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label for="email">Email</mat-label>
            <input matInput
                   type="email"
                   formControlName="email"
                   #email>
            <mat-error *ngIf="updateForm.controls['email'].errors?.['required']">Email is required</mat-error>
            <mat-error *ngIf="updateForm.controls['email'].errors?.['pattern']">Email is invalid</mat-error>
        </mat-form-field>


        <div>
            <button type="button" mat-flat-button class="image-button" (click)="openInput()">
                Change profle image
            </button>
            <input hidden id="file-upload" type="file" (change)="onFileChange($event)">
            <img *ngIf="uploadedImage != null" src={{uploadedImage}}>
            <button type="button" *ngIf="uploadedImage != null" mat-raised-button class="image-button"
                (click)="onUpload()">
                Upload image
            </button>
        </div>

        <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>

    <button type="button" mat-raised-button color="warn" class="delete-button" (click)="onDeleteClick()">
        Delete account
    </button>
 
</div>
