<div class="grid-container">
    <div class="grid-item-left">
        <img src={{book.image}}>
        <div class="stars">
            <h3>Rate: <b>{{currentRate}}</b></h3>
            <ngb-rating [(rate)]="currentRate" (rateChange)="changedRating()" [max]="5">
            </ngb-rating>
        </div>
        <mat-expansion-panel *ngIf="userId !== ''">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Add to a bookshelf
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li *ngFor="let shelf of shelves">
                    <div class="shelf-container">
                        <button class="shelf-button" mat-stroked-button color="accent" (click)="onShelfClick(shelf)">
                            {{shelf.name}}
                        </button>
                        <button mat-icon-button color="accent" *ngIf="verifyShelf(shelf)"
                            (click)="onAddedShelfClick(shelf)">
                            <mat-icon>check_circle</mat-icon>
                        </button>
                    </div>
                </li>
            </ul>
        </mat-expansion-panel>        
        <div class="admin-buttons">
            <button mat-raised-button *ngIf="isAdmin" color="primary" class="edit-button" [routerLink]="['/update-book', book.id]">
                Edit book
            </button>
            <button mat-raised-button *ngIf="isAdmin" color="warn" class="edit-button" (click)="onDeleteClick()">
                Delete book
            </button>
        </div>
    </div>
    <div class="grid-item-right">
        <h1>{{book.title}}</h1>
        <div class="authors-list">
            <p>By</p>
            <p [routerLink]="['/author', author.id]" class="author-name" *ngFor="let author of book.authors">&nbsp; {{author.name}}</p>
        </div>
        <h2>{{book.description}}</h2>

        <br>
        <p class="review-title">Reviews:</p>
        <ul>
            <li *ngFor="let review of book.reviews">
                <app-review-card #reviewCard [user]="getUserById(review.userId)"  [comment]="review.comment" [date]="review.date"
                    ></app-review-card>
            </li>
        </ul>

    </div>

</div>