form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    width: 80%;
    margin: 3rem auto;
}

div {
    text-align: center;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-family: Pacifico;
    margin-bottom: 2rem;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5rem;
}
