<mat-drawer-container class="container">
    <mat-drawer mode="side" opened>
        <h1>My books</h1>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Bookshelves
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li *ngFor="let shelf of shelves">
                    <div class="shelf-container">
                        <button class="shelf-button" mat-stroked-button color="accent" (click)="onShelfClick(shelf)">
                            {{shelf.name}}
                        </button>
                        <button class="shelf-delete-button" mat-mini-fab (click)="onDeleteShelfClick(shelf)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                </li>
            </ul>
        </mat-expansion-panel>

        <button mat-raised-button (click)="addShelf()">
            Add shelf
        </button>
    </mat-drawer>
    <mat-drawer-content>
        <ul>
            <li class="book-card" *ngFor="let book of displayedBooks">
                <app-book-card #bookCard [id]="book.id || 0" [title]="book.title | titlecase" [author]="book.authors[0].name | heart"
                    [image]="book.image" [authorId]="book.authors[0].id" [currentRate]="getBookRating(book)"></app-book-card>
            </li>
        </ul>
    </mat-drawer-content>
</mat-drawer-container>