<header>
    <h1>Add genre</h1>
</header>

<div class="form">
    <form [formGroup]="genreForm" class="form-group" (ngSubmit)="onSubmit(genreForm)">

        <mat-form-field appearance="fill">
            <mat-label for="name">Name</mat-label>
            <input matInput
                   type="text"
                   formControlName="name"
                   #name>
            <mat-error *ngIf="genreForm.controls['name'].errors?.['required']">Name is required</mat-error>
        </mat-form-field>

     
        <button type="submit" mat-raised-button color="primary">Add genre</button>

    </form>
 
</div>
