<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<div class="background-block"></div>

<div class="grid-container">
    <div class="grid-item">
        <img src={{image}} [routerLink]="['/book', id]">
    </div>
    <div class="my-custom-theme grid-item  grid-item-right" >
        <h1>{{title}}</h1>
        <p class="author-button" [routerLink]="['/author', authorId]">By {{author}}</p>
        <div class="stars" *ngIf="currentRate != -1">
            <ngb-rating [(rate)]="currentRate" [readonly]="true">
            </ngb-rating>
        </div>
        <br>
        <button mat-raised-button color="warn" [routerLink]="['/book', id]">
            About book
        </button>
    </div>
</div>