img {
    margin-right: 0.5rem;
    width: 4rem;
    height: 4rem;
    object-fit:cover;
    border-radius: 50%;
}

h1 {
    font-size: 1.1rem;
}

h2 {
    margin-top: -1rem;
    font-size: 0.4 rem;
    font-family: Pacifico;
}


.flex-container {
    display: inline-flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    height: auto;
    width: 25rem;
    border-radius: 1.5rem;
    color: rgb(208, 163, 131);
    background-color: #523529;
}
