<header>
    <h1>Add book</h1>
</header>

<div class="form">
    <form [formGroup]="bookForm" class="form-group" (ngSubmit)="onSubmit(bookForm)">

        <mat-form-field appearance="fill">
            <mat-label for="title">Title</mat-label>
            <input matInput
                   type="text"
                   formControlName="title"
                   #title>
            <mat-error *ngIf="bookForm.controls['title'].errors?.['required']">Title is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label for="description">Description</mat-label>
            <input matInput
                   type="text"
                   formControlName="description"
                   #description>
            <mat-error *ngIf="bookForm.controls['description'].errors?.['required']">Description is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label for="authors">Authors</mat-label>
            <input matInput
                   type="number"
                   formControlName="authors"
                   #description>
            <mat-error *ngIf="bookForm.controls['authors'].errors?.['required']">At least one author is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label for="genres">Genres</mat-label>
            <input matInput
                   type="number"
                   formControlName="genres"
                   #description>
            <mat-error *ngIf="bookForm.controls['genres'].errors?.['required']">At least one genre is required</mat-error>
        </mat-form-field>

        <!-- <button [disabled]="!signUpForm.valid" type="submit" mat-raised-button color="primary">Submit</button> -->
        <button type="submit" mat-raised-button color="primary">Add book</button>

    </form>
 
</div>
